<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aebc588c-ff21-4ed7-b0ee-afda0c8d41fa" Alias="contentPage" Level="1">
  <Info>
    <Name>ContentPage</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="28815b07-b96b-4ad9-91e3-7cee6a181991">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aebc588c-ff21-4ed7-b0ee-afda0c8d41fa" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>488451ae-eab4-409c-9612-ff26d18a5c10</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>b5c4897a-48bd-4b5f-b6d3-27dddeff7bd0</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dfe9d45d-7781-486d-8c48-b89bbcde0d42</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>