<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5c4897a-48bd-4b5f-b6d3-27dddeff7bd0" Alias="ContentPage - Grid - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>ContentPage - Grid - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cfdc89d9-415d-4666-9960-eea597e7008b",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>