<?xml version="1.0" encoding="utf-8"?>
<Content Key="acf9b840-58ee-4016-8499-d0b0e5afa37f" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-07-04T14:40:29</CreateDate>
    <NodeName Default="home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="28815b07-b96b-4ad9-91e3-7cee6a181991">contentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cfdc89d9-415d-4666-9960-eea597e7008b",
      "udi": "umb://element/5be04720d9504336878905365aab23c1",
      "text": "test"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5be04720d9504336878905365aab23c1",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>